.question-card {
  position: relative;
  margin: 30px;
  padding: 10px;
  border: 2px solid blue;
  text-align: center;
}

.bookmark {
  position: absolute;
  top: -10px;
  right: 10px;
  height: 30px;
  width: 30px;
}

.question {
  margin: 10px;
  padding: 10px;
}

button {
  margin: 20px;
  padding: 5px 10px;
  background-color: blue;
  color: lightgoldenrodyellow;
  border: 2px solid black;
  border-radius: 5px;
}

.answer {
  margin-bottom: 10px;
  font-weight: bold;
}

.tag-categoris {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  padding: 2px 4px;
  list-style: none;
  background-color: lightgray;
  border: 2px solid darkgrey;
  border-radius: 5px;
}
