@import "./header.css";
@import "./main.css";
@import "./cards.css";
@import "./footer.css";
@import "./profile-page.css";

:root {
  --primary-color: blue;
  --secondary-color: lightblue;
  --accent-color: orange;
  --background-color: lightgoldenrodyellow;
  --text-light: black;
  --background-dark: #2e2e2e;
  --text-dark: white;
  --border-color: black;
  --active-color: yellow;
}

* {
  margin: 0;
  list-style: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  height: 800px;
  background-color: var(--background-color);
  color: var(--text-light);
}

body.dark-mode {
  /*Addedd class for JavaScripte*/
  background-color: var(--background-dark);
  color: var(--text-dark);
}
